    body { font-family: FOT-Seurat Pro B, sans-serif; margin: 0; display: flex; height: 100vh;    color: white;   background: linear-gradient(135deg, #1e1e2f, #2e2157, #50347e); }
    .sidebar { width: 200px;       background: linear-gradient(135deg, #1e1e2f, #2e2157, #50347e); border-right: 1px solid #ccc; padding: 10px; overflow-y: auto; }
    .sidebar h2 { margin-top: 0; }
    .sidebar ul { list-style: none; padding: 0; margin: 0; }
    .sidebar li { margin: 8px 0; cursor: pointer; }
    .sidebar li:hover { background: rgba(255,255,255,0.2); }
    .sidebar li.active-coin { /* gotta love me some list elements */ 
      font-weight: bold;
    }
    .main { flex: 1; overflow-y: auto; padding: 20px; position: relative; }
    #qr-list { display: flex; flex-wrap: wrap; gap: 20px; justify-content: flex-start; }
    .qr-item { text-align: center; }
    .qr-item svg {
      width: var(--qr-size);
      height: var(--qr-size);
    }
    .back {
      display: inline-block;
      margin-top: 1rem;
      padding: 6px 12px;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      cursor: pointer;
      font-family: "FOT-Seurat Pro B";
    }
    .back:hover {
      background: rgba(255, 255, 255, 0.2);
    }
    
    h2 {
     font-family: "FOT-Yuruka Std Ub";
    }
    a {
     color: cyan;  
    }
    
    
    .loading { text-align: center; margin: 20px; font-style: italic; display: none; }
